<style>
    .header {
        --background-color: rgba(0, 0, 0, 0);
        --default-color: #ffffff;
        --heading-color: #ffffff;
        color: var(--default-color);
        background-color: black;
        padding: 20px 0;
        transition: all 0.5s;
        z-index: 997;
    }
</style>
<section><br>
    <div class="container mt-5">
        <center>
            <div class="alert alert-success w-50" role="alert">
                <h4 class="alert-heading">Order Placed Successfully!</h4>
                <p>Thanks for choosing us</p>
                <hr>

            </div>
        </center>
        <div class="text-center">
            <a href="/" class="btn btn-dark  mt-4">Back to home</a>
        </div>
    </div>
</section>